@{
    Page.Title = "Task Manager";

    String name = Request["full-name"];
    String email = Request["email"];
    String message = Request["message"];
    String response = "";
    if (IsPost)
    {
        response = String.Format("Thank you {0}! Any Responses will be sent to \"{1}\".", name, email);
    }
}
<head>
    <link href="appTask5.css" rel="StyleSheet" />
</head>
<body>
    <div>
        <h1 id="title">Task Manager</h1>
        <h4 id="des"> Type a task and add it to the list by hitting the "Add Task" button. </h4>
        <h4 id="des"> Hit the "Delete" the task will be deleted.</h4>
    </div>
    <div id="container">
        <label>Enter a task: </label>
        <input id="taskInput" name="taskInput" type="text" />
        <button id="add">Add Task</button>
        <br>
        <h3>Tasks</h3>
        <ul id="list"></ul>
        <br />
        <button id="uberDelete" onclick="deleteAll()">Delete All</button>
        <br /><br /><br />
        <button id="contact"> Contact </button>
        <br /><br />
        <label class='contactFormElement'>@response</label>
        <div id="formContainer">
            <form action='' method='post' id='form'>
                <div class='form-row'>
                    <label for='full-name'>Name</label>
                    <input id='full-name'
                           name='full-name'
                           type='text'
                           placeholder='Your Name' />
                </div>
                <div class='form-row'>
                    <label for='email'>Email</label>
                    <input id='email'
                           name='email'
                           type='email'
                           placeholder='name@example.com' />
                </div>
                <div class='form-row'>
                    <label for='message'>Message</label><br />
                    <textarea id='message'
                              name='message'
                              placeholder='Type your message here'></textarea>
                </div>
                <button> Submit </button>
            </form>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="appTask5.js"></script>
</body>

