* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
  background-image: url("background.jpg");

}
#title{
  padding-bottom: 15px;
  font-size: 40px;
  color:white;
  margin:auto;
  text-align: center;
  font-family: arial;
  font-weight: bolder;
}
#des{
  color:white;
  margin:auto;
  text-align: center;
  font-family: Arial;
  font-style: italic;
  padding-bottom: 15px;
}
#container{
  font-family: arial;
  padding-left: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin:auto;
  background-color:#7250AC;
  width: 800px;
  list-style: square;
  opacity: 0.7;
  font-size: 15px;
  color: white;
}
#add{
  background-color:#BE9FDA;
}
#items{
  list-style: decimal;
}
#delete{
  background-color:#BE9FDA;
  margin-left: 10px;
}
#uberDelete{
  background-color:#BE9FDA;
  margin-left: 10px;
}
#formContainer{
  display:none;
}
